<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro con Éxito</title>
    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<div align="center">
    <h2>Registro con Éxito</h2>
    <p><strong>Nombre:</strong> <span th:text="${user.nombre}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Género:</strong> <span th:text="${user.genero}"></span></p>
    <p><strong>Fecha de Nacimiento:</strong> <span th:text="${#dates.format(user.fechaNacimiento, 'dd/MM/yyyy')}"></span></p>
    <p><strong>Profesión:</strong> <span th:text="${user.profession}"></span></p>
    <p><strong>Nota:</strong> <span th:text="${user.nota}"></span></p>
</div>
</body>
</html>
